@media (min-width : 768px) {
    .register-header {
        width: 100%;
        height: 700px;
    }

    .register-header {
        background-color: #000000;
        background-image: url(../img/Vector_Smart_Object_2x.png);
        margin-bottom: 72px;
    }

    .register-item {
        padding-top: 40px;
        margin: 0;
        padding-bottom: 130px;
    }

    .nav-text {
        margin: 0;
        padding: 0;
        margin-top: 46px;
    }

    .site-title {
        margin: 0 auto;
        width: 503px;
        font-size: 52px;
        padding-bottom: 40px;
    }

    .site-subtitle {
        width: 100%;
        font-size: 24px;
        padding-bottom: 34px;
    }

    .button-partner {
        width: 237px;
        padding: 12px 22px;
    }

    .See-partners {
        width: 225px;
        margin: 0 auto 70px;
        padding: 10px 40px;
    }

}

@media (min-width : 1440px) {

    .register-header {
        background-color: #000000;
        background-image: url(../img/Vector_Smart_Object_2x.png);
        margin-bottom: 72px;
    }

    .See-partners {
        width: 225px;
        margin: 0 auto 70px;
    }

}