/* GLOBAL SETING */







/* :root {
  --font-family-kaushan: "Kaushan Script", cursive;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --color-fff: #ffffff;

} */

/* HEADER START */








/* HEADER END */

/* SERVISE SECTION */



/* service__list = list-service */



/* TEAM LIST */



/* team list end */

/* FOOTER START */



/* FOOTER END */