.header {
    display: flex;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../../images/heder.img_15@2x-min.png);
    background-position: center;
    background-size: cover;
    height: 1000px;
    margin-bottom: 45px;
  }
