// font-family
$font-family-kaushan:  "Kaushan Script", cursive;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;


// color
$primary-white-color:#ffffff;
$primary-color:#fce38a;
$color-text-title:#333333;
$color-service-text:#999999;
$primary-color-bg:#f38181;
$color-features: #95e1d3;